@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p><a href="@Url.Action("Index", "Authentication")" class="btn btn-primary btn-lg">Sign in to Trello to begin</a></p>
</div>