@{
    ViewBag.Title = "Boards";
}

@model IEnumerable<RgTrello.Models.Boards.BoardModel>

<h1>Boards</h1>

<ul>
@foreach (var boardModel in Model)
{
    <li><a href="@Url.Action("Board", "Boards", new { id = boardModel.Id })">@boardModel.Name</a></li>
}
</ul>